	<div class="fluid each_article">
		<article>
			<hgroup>
				<h2><a href="#">Article Title</a></h2>
				<p>By: Author</p>
			</hgroup>
			<img src="http://lorempixel.com/400/200" />
			<p>
				Lorem ipsum dolor sit amet, <a href="#">consectetuer</a> adipiscing elit, sed diam nonummy nibh euismod <span>tincidunt ut laoreet</span> dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci <strong>tation</strong> ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
			</p>
			<p>
				Lorem ipsum dolor sit amet, <a href="#">consectetuer</a> adipiscing elit, sed diam nonummy nibh euismod <span>tincidunt ut laoreet</span> dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci <strong>tation</strong> ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
			</p>
			<ul>
				<li>
					Lorem ipsum dolor sit amet
				</li>
				<li>
					Lorem ipsum dolor sit amet
				</li>
				<li>
					Lorem ipsum dolor sit amet
				</li>
			</ul>
			<p>
				Lorem ipsum dolor sit amet, <a href="#">consectetuer</a> adipiscing elit, sed diam nonummy nibh euismod <span>tincidunt ut laoreet</span> dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci <strong>tation</strong> ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, <a href="#">consectetuer</a> adipiscing elit, sed diam nonummy nibh euismod <span>tincidunt ut laoreet</span> dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci <strong>tation</strong> ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, <a href="#">consectetuer</a> adipiscing elit, sed diam nonummy nibh euismod <span>tincidunt ut laoreet</span> dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci <strong>tation</strong> ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
			</p>
			<div>
				<a href="#">Read More</a>
			</div>
		</article>
	</div>