body {
	font-family: 'Cambo', serif;
}
h1,h2,h3,h4,h5 {
	font-family: 'Oswald', sans-serif;
}
p {
	font-family: 'Cambo', serif;
}
a:link {
	font-family: 'Cambo', serif;
	text-decoration:none;
}	
input, textarea {
	font-family: 'Cambo', serif;
}
small {
	font-family: 'Cambo', serif;
}