<% provide(:title, 'Archive') %>

<div class="fluid archive_list">
	<h3><%= Time.now.year %> </h3>
		<ul>
		<% @posts.each do |post| %>
			<li><%= link_to post.title, post %> <span><%= post.created_at.strftime('%B, %d') %></span></li>
		<% end %>
		</ul>
</div>