<nav>
	<div class="gridContainer clearfix">
		<div class="fluid navigation">
			<ul>
				<li>
					<%= link_to "About", about_path %>
				</li>
				<li>
					<%= link_to "Archive", archive_path %>
				</li>
			</ul>
		</div>
	</div>
</nav>